@model WebApp.Models.WarehouseModels.AddWarehouseItemViewModel

@{
    ViewData["Title"] = "Edycja pozycji w hurtowni";
}

<h2>Edycja pozycji w hurtowni</h2>

<h4>Nowa ilość leku @Model.MedicineList.First(x => x.Id == Model.MedicineId).FullName w hurtowni</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="MedicineId" class="form-control" />
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span>
                    <span>Zapisz</span>
                </button>
            </div>
        </form>
    </div>
</div>

<button onclick="location.href='@Url.Action("Index","Warehouse")'"
        class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span>Powrót</span>
</button>

