@model WebApp.Models.PrescriptionModels.CreatePrescriptionViewModel

@{
    ViewData["Title"] = "Dodaj receptę";
}

<h2>Dodawanie recepty</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePrescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorSelect" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control selectpicker" data-live-search="true"
                    asp-items="@{new SelectList(Model.DoctorSelect,"Id","FullName")}"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApothecarySelect" class="control-label"></label>
                <select asp-for="ApothecaryId" class="form-control selectpicker" data-live-search="true"
                        asp-items="@{new SelectList(Model.ApothecarySelect,"Id","FullName")}"></select>
                <span asp-validation-for="ApothecaryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionDate" class="control-label"></label>
                <input asp-for="PrescriptionDate" class="form-control" />
                <span asp-validation-for="PrescriptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Utwórz</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span>Powrót</a>
</div>

